* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.box {
    background-color: red;
    height: 100vh;
}

.box-bola {
    width: 766px;
    height: 557px;
    top: 213px;
    left: 373px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: gray;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

}

.box-bola h4 {
    font-size: 75px;
}


p {
    margin-top: 20px;
    font-size: 40px;
}

h2 {
    margin-top: 20px;
    font-size: 30px;
}

h3 {
    margin-top: 20px;
    font-size: 25px;
}